.jumbotron {
background-color: #003366;
text-align: center;
margin: 20px;
border-radius: 10px;
}

.display-4 {
    color: white;
    font-weight: bold;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

.container-1{
    margin: 20px;
    border: 1px #A9A9A9;
}

.container-2{
    margin: 20px;
    border: 1px #A9A9A9;
}

.btn {
border: none;
margin: 0,20px,0,0;
}

.sections {
font-weight:  bold;
background-color: #f7efe3;
height: 100%;
margin: 20px, 0, 20px, 0;
}

footer {
    border: 1px #A9A9A9;
    text-align: center;
    margin-top: 20px;
}